########## configuration file ##############################
##### general #######
lambda_min           10100    Angstroms for blue cutoff
lambda_max           22400    Angstroms for red cutoff
transition_wave1     12830    Angstroms at which switch between G115 and G150
transition_wave2     17520    Angstroms at which switch between G150 and G200
min_spec_length      25       min number of pixels to try and analyze
delta_z              0.00334     amount by which redshifts of widely separated lines can differ.

###### detector thngs ####################################
dispersion_red           39.2       Angstroms/pix   ### used for estimates only; doesn't need to be very precise.
dispersion_blue          39.9

##### line fitting ######
line_mask        250         window in A around the peak to mask out when fitting preliminary continuum
fit_region       1500           window in A around lines to evaulate lines; defined, e.g Ha - fit_region to [SII] + fit_region
node_wave        10200 10850 11500 12500 13500 14500 15500 16500 17700 18500 19500 20500 21500 22000
mask_region1     12830 13300
mask_region2     16700 17510
mask_region3     0  0
mask_region4     0  0
mask_region5     0  0
mask_region6     0  0
mask_region7     0  0
mask_region8     0  0
fitfluxes        True          False = direct integrate over ha+sii or oiii/hb.  BLENDS LINES.  TESTING ONLY.
showfig          True
max_fwhm_scl     2.0           fwhm can be up to 2x input guess
min_fwhm_scl     0.3           fwhm can be as small as 0.3 x input guess


########### PEAK finding things not used in fitting only
########  peak finder things
nwidths               10    number of cwt kernels to try
dw                    1     pixels, interval between cwt kernel widths
minwidth              1.5   minimum cwt kernel size in number of pixels
maxwidth              2.0   maximim cwt kernel, in fraction of fwhm_est = 2*a_image

#
#### noise for finding relative peaks
snr_cwt              1   input to the CWT, but noise is defined unintelligibly so I dont know what this does.
noise_cut_cwt        10  input to the CWT, same noise caveat as above.

## ridge definitions
max_dist_ridge_scl   1       max_distance_ridge  = widths * max_dist_ridge_scl + max_dist_ridge_const
max_dist_ridge_const 1      pix
gap_btw_ridges       1       number of kernels; disconnect ridges if there is gap
min_length_ridge     3   number of kernels ; peak must be significant in at least this many kernels

##### reject very low EW lines on bright continuum:
##### concept line_contrast * dispersion  * npix ~ EW_obs.  0.15 ---> 10A in G102 and 20 A in G141
min_line_contrast        0.15   minimum for (Flam_peak - Flam_cont) / Flam_cont.


################ requirements for *real* lines ##############
min_fwhm              1.25      Angstroms-- lines can't be narrower than the resolution element
max_fwhm_scale        3       fwhm can't be larger than 1.5 * major axis in Ang.  (A_IMAGE * 2.35  * dispersion * max_fwhm_scale)
npix_thresh           3   number of pixels that are n_sigma_above_cont above the continuum model (like SEXTRACTOR)
n_sigma_above_cont    5.77   ### 1.732 gives 3 sigma, 2.309 gives 4 sigma, 2.887 gives 5 sigma. (if 3 pix). 4.04 - 7sigma , 5.77 - 10 sigma
edge_reject           5      pixels;; reject CWT peak candidates close to edge, because of convolution edge effects.
## not recommended.
n_sigma_for_2pix_lines False   ### sqrt(2) * 3.54 = 5; re-running the cwt finder with this cut, then merge and concatenate.  if do not want, set to False.

####### continuum model
cont_medfilt         31     median filter window for modelling continuum, used for SExtractor type test above. pixels.
